<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Corporate Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">  
</head>
<body class='image'style="background-size: cover;  background-attachment: fixed;background-repeat:no-repeat;background-image: url('{% static "images/8.jpg"%}')">
<div class='corporate'>
   <h1><b>First Birthday</b></h1><hr>
   <h1><b>Children's Birthday </b></h1><hr>
   <h1><b>Sweet Sixteen</b></h1><hr>
   <h1><b>Adult Birthday</b></h1><hr>
   <h1><b>Milestone Birthday</b></h1><hr>
</div>
<div class='div-clear'>

</div>
<div class=regibirthday>
<h3><p>Are you want to booking?</p> <h3> 
    <a href='dbirthday' id='register'><b>Register</b></a>
</div>
</body>
</html>