<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Corporate Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">  
</head>
<body  id="bg" style="background-image: url('{% static "images/6.jpg"%}')">
    
    <div class='detailscorporate'>
   <h1><b>Brand Activation</b></h1><hr>
   <h1><b>Led Wall Screen </b></h1><hr>
   <h1><b>Tv Rental</b></h1><hr>
   <h1><b>Projector Rental</b></h1><hr>
   <h1><b>Sound System</b></h1><hr>
</div>
<div class='div-clear'>

</div>
<h3><p style="color:cyan"><b>Are you want to booking?</b></p> <h3> 
    <a href='dcorporate' style="color:blue"><b>Register</b></a>
</body>
</html>