<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}"> 
</head>
<body id="bg" style="background-image: url('{% static "images/14.jpg"%}')" >
    <section class='package1'>
        <h1><b><i>PACKAGE 1 </i></b></h1>
        <li>Stage</li>
        <li>Gate</li>
        <li>Car Design</li>
        
        <li>Photograpy unlimted</li>
        <li>Dining</li>
        

    </section><hr>

    <section class='package1'>
        <h1><b><i>PACKAGE 2 </i></b></h1>
        <li>Stage</li>
        <li>Gate</li>
        <li>Car Design</li>
        <li>Photograpy limited</li>
        <li>Dining</li>
        

    </section><hr>
    
    <section class='package1'>
        <h1><b><i>PACKAGE 3</i> </b></h1>
        <li>Stage</li>
        <li>Gate</li>
        <li>Car Design</li>
        <li>Dining</li>
        

    </section>
    <div>
        <h3><p>Are you want to booking?</p> <h3> 
            <a href='dwedding'>Register</a>
    </div>
    
</body>
</html>