<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}"> 
</head>
<body bgcolor="red"><div style="text-align: center;">
    <h1><b><a href='dcorporate'>Corporate Events</a></b></h1><hr>
    <h1><b><a href='dwedding'>Wedding Events</a></b></h1><hr>
    <h1><b><a href='dbirthday'>Birthday Events</a></b></h1><hr>
</div>

    
</body>
</html>