<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">  
</head>
<body id="bg" style="background-image: url('{% static "images/20.jpg"%}')">
    <div class="wedding">
        <h1><a  href='package1'><b> Wedding Day</b> </a> </h1>
      </div>
    
      <div class="wedding">
        <h1> <a href='package2'><b>Mehedi Day</b></a></h1>
      </div>
    
</body>
</html>